@import url("//hello.myfonts.net/count/2760f4");
@import url("//hello.myfonts.net/count/276103");
@font-face {
  font-family: 'u39';
  src: url("../type/u39/276103_0_0.eot");
  src: url("../type/u39/276103_0_0.eot?#iefix") format("embedded-opentype"), url("../type/u39/276103_0_0.woff") format("woff"), url("../type/u39/276103_0_0.ttf") format("truetype"), url("../type/u39/276103_0_0.svg#wf") format("svg"); }

@font-face {
  font-family: 'u47';
  src: url("../type/u47/2760F4_0_0.eot");
  src: url("../type/u47/2760F4_0_0.eot?#iefix") format("embedded-opentype"), url("../type/u47/2760F4_0_0.woff") format("woff"), url("../type/u47/2760F4_0_0.ttf") format("truetype"), url("../type/u47/2760F4_0_0.svg#wf") format("svg"); }

@font-face {
  font-family: 'u67';
  src: url("../type/u67/276103_1_0.eot");
  src: url("../type/u67/276103_1_0.eot?#iefix") format("embedded-opentype"), url("../type/u67/276103_1_0.woff") format("woff"), url("../type/u67/276103_1_0.ttf") format("truetype"), url("../type/u67/276103_1_0.svg#wf") format("svg"); }

::selection {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
  color: #444; }

::-moz-selection {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
  color: #444; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal; }

html {
  font-size: 17px;
  font-size: .9em;
  line-height: 1.15rem; }

* {
  color: white; }

.master {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  font-family: Univers;
  overflow: hidden; }

.bg {
  position: absolute;
  left: -10%;
  height: 120%;
  width: 120%;
  opacity: 0; }
  .bg .blur, .bg .clean, .bg .grey {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }
  .bg .blur {
    background-image: url(../img/back_blur_2.jpg); }
  .bg .clean {
    background-image: url(../img/back_2.jpg); }

.eject {
  position: absolute;
  z-index: 5000;
  top: 50%;
  left: 50%;
  height: 125px;
  width: 125px;
  margin: -62.5px 0px 0px -62.5px;
  background-image: url(../img/eject.png);
  background-size: cover;
  background-position: center center;
  cursor: pointer; }
  .eject p {
    font-family: u39;
    font-size: 55px;
    font-weight: normal;
    position: absolute;
    top: 100%;
    left: 50%;
    height: 65px;
    width: 150px;
    margin: 0px 0px 0px -75px;
    text-align: center;
    line-height: 1em; }
  .eject .nope {
    display: none; }
  .eject .loading {
    color: black;
    font-size: 30px;
    display: block;
    top: 50%;
    margin-top: -18.5px; }
  .eject .grey {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    z-index: -1; }

.about {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  font-family: u47;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transform-origin: 50% -50%;
  -ms-transform-origin: 50% -50%;
  transform-origin: 50% -50%; }
  .about .across {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden; }
    .about .across:first-child {
      margin-top: 50%; }
    .about .across .top {
      position: relative;
      z-index: 2500;
      width: 100%;
      height: 40px;
      top: 0px;
      margin: 0px;
      padding-top: 10px;
      text-align: center;
      cursor: pointer;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
      .about .across .top span {
        display: inline-block;
        position: relative; }
        .about .across .top span:before, .about .across .top span:after {
          content: "";
          position: absolute;
          height: 1px;
          border-bottom: 1px solid white;
          top: 7px;
          width: 600px; }
        .about .across .top span:before {
          right: 100%;
          margin-right: 15px; }
        .about .across .top span:after {
          left: 100%;
          margin-left: 15px; }
    .about .across .txt {
      position: relative;
      width: 100%;
      opacity: 0;
      overflow: hidden;
      padding: 0px 15px 15px;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
      .about .across .txt p {
        margin: 1rem 0px 0px; }
      .about .across .txt a {
        color: white; }
      .about .across .txt b {
        font-family: u67; }
      .about .across .txt ul {
        margin-bottom: 0px; }
      .about .across .txt span {
        font-size: .75rem; }
      .about .across .txt.ready {
        height: 1px; }
      .about .across .txt.open {
        opacity: 1; }

.view .bg {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%; }
  .view .bg .clean {
    opacity: 0; }
.view .eject {
  height: 100px;
  width: 100px;
  top: 60px;
  margin: -50px 0px 0px -50px;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px); }
  .view .eject .grey {
    opacity: 1; }
  .view .eject p {
    font-size: 40px;
    height: 45px;
    text-shadow: 0 0 3px #fff; }
.view .about {
  z-index: 10000;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }
  .view .about .grey {
    opacity: 1; }

.ready .bg {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  opacity: 1; }
.ready .loading {
  display: none; }
.ready .eject {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

@media screen and (min-width: 767px) {
  .view .bg .blur, .view .bg .clean {
    background-color: transparent !important; }

  .eject {
    z-index: 15000;
    height: 150px;
    width: 150px;
    margin: -75px 0px 0px -75px; }
    .eject .grey {
      display: none; }
    .eject p {
      display: none;
      font-size: 65px; }
    .eject:hover .name {
      display: block; }
    .eject:hover .nope {
      display: none; }
    .eject:active .name {
      display: none; }
    .eject:active .nope {
      display: block; }

  .about {
    height: 800px;
    top: 50%;
    margin-top: -400px;
    overflow-y: hidden;
    overflow-x: hidden;
    display: block; }
    .about .across {
      width: 25%;
      height: 100%;
      overflow: hidden; }
      .about .across:first-child {
        margin-top: 0px; }
      .about .across .top {
        position: absolute;
        height: 20px;
        top: 50%;
        margin: -10px 0px 0px;
        padding-top: 0px; }
      .about .across .txt {
        position: absolute;
        top: 50%;
        border-bottom: 1px white solid;
        padding: 15px; } }
